.CreateEvent {
  width: 400px;
  border-right: 1px solid gray;
  padding-right: 20px;
  float: left;
}

.CreateEvent h1 {
  font-size: 18px;
  font-weight: lighter;
  margin-right: 45px;
  float: right;
}

.CreateEvent form {
  overflow: hidden;
  clear: both;
}

.CreateEvent form div {
  margin-bottom: 20px;
  float: right;
}

.CreateEvent form div label {
  text-transform: uppercase;
  font-size: 12px;
}

.CreateEvent form div input,
.CreateEvent form div select {
  box-sizing: border-box;
  width: 200px;
  margin-left: 5px;
}

.CreateEvent form div:last-child {
  clear: both;
}